<div class="container mt-5">
 <div class="row">
  <h1 class="px-3 mx-auto">
   Welcome to
   <svg class="svg-inline--fa fa-book fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="book">
    <path fill="currentColor"></path>
   </svg>
   <strong><i class="fas fa-book"></i>Bookers</strong>
   !
  </h1>
 </div>
</div>
